<section>
    <h1 class="text-start text-main my-2 mb-4  text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-4xl dark:text-white">Forget Password:</h1>

    @if(step == 1){
        <form [formGroup]="verifyEmail" (ngSubmit)="verifyEmailSubmit()" class="bg-main-light rounded-3xl shadow-2xl p-3">
            <div class="my-2">
                <label for="email">E-mail:</label>
                <input formControlName="email" id="email" type="email" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" >
    
                @if(verifyEmail.get('email')?.touched && verifyEmail.get('email')?.hasError('required')) {
                    <div
                      class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800"
                      role="alert">
                      <span class="sr-only">Info</span>
                      <div>
                        please write your email
                      </div>
                    </div>
                    }  
            
                    @if(verifyEmail.get('email')?.touched && verifyEmail.get('email')?.hasError('email')) {
                      <div
                        class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800"
                        role="alert">
                        <span class="sr-only">Info</span>
                        <div>
                          please write correct email
                        </div>
                      </div>
                      }    

                      @if (isLoading) {
                        <button type="submit" 
                        class="text-white bg-main hover:bg-main focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-main dark:hover:bg-main dark:focus:border-main mt-5">
                        <i class="fas fa-spinner fa-spin"></i>
                      </button>
                      }@else {
                        <button [disabled]="verifyEmail.invalid" class="text-white bg-main hover:bg-main focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-main dark:hover:bg-main dark:focus:border-main mt-5">Verify Email</button>
                      }

            </div>
        </form>
    }

    @else if (step == 2) {
        <form [formGroup]="verifyCode" (ngSubmit)="verifyCodeSubmit()" class="bg-main-light rounded-3xl shadow-2xl p-3">
            <div class="my-2">
                <label for="resetCode">Code:</label>
                <input formControlName="resetCode" id="resetCode" type="text" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" >
    
                @if(verifyCode.get('resetCode')?.touched && verifyCode.get('resetCode')?.hasError('required')) {
                    <div
                      class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800"
                      role="alert">
                      <span class="sr-only">Info</span>
                      <div>
                        please write a resetCode correctly
                      </div>
                    </div>
                    } 
                    
                    @if(verifyCode.get('resetCode')?.touched && verifyCode.get('resetCode')?.hasError('pattern')) {
                      <div
                        class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800"
                        role="alert">
                        <span class="sr-only">Info</span>
                        <ul>
                          <li>The code must contain 6 characters</li>
                        </ul>
                      </div>
                      }  
    
                      @if (isLoading) {
                        <button type="submit" 
                        class="text-white bg-main hover:bg-main focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-main dark:hover:bg-main dark:focus:border-main mt-5">
                        <i class="fas fa-spinner fa-spin"></i>
                      </button>
                      }@else {
                        <button [disabled]="verifyCode.invalid" class="text-white bg-main hover:bg-main focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-main dark:hover:bg-main dark:focus:border-main mt-5">Verify Code</button>
                      }

            </div>
        </form>
    }

    @else if (step == 3) {
        <form [formGroup]="resetPassword" (ngSubmit)="resetPasswordSubmit()" class="bg-main-light rounded-3xl shadow-2xl p-3">
            <div class="my-2">
                <label for="email">E-mai:</label>
                <input formControlName="email" id="email" readonly type="email" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" >
    
                @if(resetPassword.get('email')?.touched && resetPassword.get('email')?.hasError('required')) {
                    <div
                      class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800"
                      role="alert">
                      <span class="sr-only">Info</span>
                      <div>
                        please write your email
                      </div>
                    </div>
                    }  
            
                    @if(resetPassword.get('email')?.touched && resetPassword.get('email')?.hasError('email')) {
                      <div
                        class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800"
                        role="alert">
                        <span class="sr-only">Info</span>
                        <div>
                          please write correct email
                        </div>
                      </div>
                      }    
    
            </div>
    
            <div class="my-2">
                <label for="newPassword">New Password:</label>
                <input formControlName="newPassword" id="newPassword" type="password" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" >
    
                @if(resetPassword.get('newPassword')?.touched && resetPassword.get('newPassword')?.hasError('required')) {
                    <div
                      class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800"
                      role="alert">
                      <span class="sr-only">Info</span>
                      <div>
                        please write your email
                      </div>
                    </div>
                    }  
    
                    
                @if(resetPassword.get('newPassword')?.touched && resetPassword.get('newPassword')?.hasError('pattern')) {
                    <div
                      class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800"
                      role="alert">
                      <span class="sr-only">Info</span>
                      <ul>
                        <li>at least 6 characters</li>
                        <li>maximum 15 characters</li>
                      </ul>
                    </div>
                    }  
            
     
                    @if (isLoading) {
                        <button type="submit" 
                        class="text-white bg-main hover:bg-main focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-main dark:hover:bg-main dark:focus:border-main mt-5">
                        <i class="fas fa-spinner fa-spin"></i>
                      </button>
                      }@else {
                        <button [disabled]="resetPassword.invalid" class="text-white bg-main hover:bg-main focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-main dark:hover:bg-main dark:focus:border-main mt-5">complete</button>
                      }
            </div>
    
        </form>
    }


0
</section>
